<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue example</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <h1>{{titulo}}</h1>
        <input type="text" v-model="cursoModel" @keyup.enter="addCurso">
        <button type="button" @click="addCurso">Presionar</button>
        <ul v-for="curso of cursos">
            <li>
                <input v-model.number="curso.horas" type="number"/>
                {{curso.titulo}}
                <button @click="curso.horas--">-</button>
                <button @click="curso.horas++">+</button>
            </li>
        </ul>
        <h4>Total:{{totalHoras}}</h4>
    </div>
    <script src="assets/js/vue.min.js"></script>
    <script src="assets/js/custom.js"></script>
</body>
</html>